beautifulsoup4==4.12.3
blinker==1.8.2
click==8.1.7
cltk==1.1.6
Flask==3.0.3
Flask-Cors==5.0.0
future==1.0.0
gdown
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
matplotlib
numpy
pandas
pinecone
plotly
pygame==2.5.2
scikit-learn
scipy
tensor2tensor==1.15.7
tensorflow==2.15.0
tokenizers==0.15.2
torch==2.2.1
torchdata==0.7.1
torchtext==0.17.1
tqdm==4.66.2
transformers==4.38.1
Unidecode==1.3.8
Werkzeug==3.0.4
